.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.black-nav{
  display: flex;
  background: #000;
  width: 100%;
  color : #fff;
  padding-left: 20px;
}

div{
  box-sizing: border-box;
}

.list{
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.like_icon{
  cursor:pointer;
  float:right;
  width:50px;
  font-weight:bold;
}

.sort-box{width:100%; overflow:hidden;}

.btn1{
  margin-top:20px;
  margin-right:10px;
  width:100px;
  line-height:30px;
  border:0;
  background:#000000;
  color:#fff;
  float:right;
}

.modal{
  margin-top:20px;
  padding:20px;
  background: #eee;
  text-align:left;
}

.delete_btn{
  width:50px;
  line-height: 24px;
  border:0;
  background: orangered;
  color: #fff;
  margin-bottom: 20px;
}

.write_wrap{
  width:50%;
  margin:0 auto;
  margin-top:50px;
}

.write_wrap input{
  width:70%;
  float:left;
  line-height:30px;
  margin-right:1%;
  border:0;
  background:#f7f7f7;
  padding:0;
}

.write_wrap button{
  width:29%;
  float:left;
  line-height:30px;
  border:0;
  padding:0;
  background:#000;
  color:#fff;
}

@media (max-width: 800px) {

  .write_wrap{
    width:90%;
    margin:0 auto;
    margin-top:50px;
  }

}